version: v25.4.0

log:
  level: info
  format: json

serve:
  proxy:
    host: 0.0.0.0
    port: 4455
  api:
    host: 0.0.0.0
    port: 4456

access_rules:
  repositories:
    - file:///etc/oathkeeper/rules/vod-api/rules.json

errors:
  fallback:
    - json
  handlers:
    json:
      enabled: true
      config:
        verbose: true

authenticators:
  anonymous:
    enabled: true
    config:
      subject: guest

  oauth2_introspection:
    enabled: true
    config:
      introspection_url: ${HYDRA_ADMIN_URL}/oauth2/introspect
      scope_strategy: exact
      cache:
        enabled: true
        ttl: 60s
      pre_authorization:
        enabled: true
        client_id: ${HYDRA_CLIENT_ID}
        client_secret: ${HYDRA_CLIENT_SECRET}
        scope:
          - introspect
        token_url: ${HYDRA_ADMIN_URL}/oauth2/token

authorizers:
  allow:
    enabled: true
  deny:
    enabled: true
  keto_engine_acp_ory:
    enabled: true
    config:
      base_url: ${KETO_READ_URL}
      required_action: noop
      required_resource: noop

mutators:
  id_token:
    enabled: true
    config:
      issuer_url: http://ory-oathkeeper.railway.internal:4456
      jwks_url: file:///data/jwks.json
      ttl: 60s

